/* MAIN CSS FILE FOR PROJECT */

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font: 12pt Sans-Serif;
    line-height: 1.7rem;
    background: #fecf67;
}

h1{
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background: #fecf67;
}

h2{
	margin: 0;
}

.chart-div {
    text-align: center;
    margin:auto;
    padding:10px;
    background: #f1f2f1;
}

#stateSection{
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	width: 800px;
	margin-top: 3em;
}

svg {
    display: block;
    margin: auto;
    padding: 20px;
				box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
}

.honeycombs{
		position: fixed;
		z-index: 0;
}

.honeysvg{
		position: fixed;
		width: auto;
}

.honeysvg.v1{
		height: 300px;
		top: 700px;
		left: 100px;
}

.honeysvg.v2{
		height: 200px;
		top: 800px;
		right: 100px;
}

.honeysvg.v3{
		height: 120px;
		top: 1100px;
		left: 350px;
}

.honeysvg.v4{
		height: 120px;
		top: 1000px;
		right: 350px;
		transform: rotate(15deg);
}

#chart{
	background: #fcfcfc;
	border-radius: 5px;
	margin-top: 2em;
	margin-bottom: 5em;
}

.axis-left line, 
.axis-left path {
    stroke: none;
}

.axis-left text {
    font-weight: bold;
    font-size: 7pt;
    text-transform: uppercase;
}

.axis-bottom text {
/*
	text-anchor: start;
	transform: rotate(65deg);
*/
}

.y-grid line{
				stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.y-grid path{
		stroke-width: 0;
}

.dot-label {
    font-size: 8pt;
}

.details{
		position: relative;
		margin: 0 auto;
		width: 950px;
		height: 100%;
		background: #fecf67;
		opacity: .8;
		z-index: 1;
}

.details p{
		z-index: 0;
}

select{
	width: 55px;
	height: 25px;
	border-radius: 5px;
	line-height: 27px;
	vertical-align: middle;
	padding-left: 5px;
	margin-right: 20px;
}