/* MAIN CSS FILE FOR PROJECT */
@import url('https://fonts.googleapis.com/css?family=Roboto|Mali:400,500,600,700');

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font: 12pt Sans-Serif;
    line-height: 1.7rem;
    background: #fecf67;
}

h1{
    width: 100%;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background: #fecf67;
		font-family: 'Mali', cursive;
		font-size: 25pt;
}

h2{
	margin: 0;
}

.chart-div {
    text-align: center;
    margin:auto;
    padding:10px;
    background: #f1f2f1;
}


.chart-div section{
	display: flex;
	flex-direction: column;
}

#stateName{
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 940px;
	margin-top: 3em;
	padding-top: 20px;
	background-color: #fcfcfc;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

svg {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
	background: #fcfcfc;
	border-radius: 0px 0px 5px 5px;
}

.honeycombs{
		position: fixed;
		z-index: 0;
}

.honeysvg{
		position: fixed;
		width: auto;
}

.honeysvg.v1{
		height: 300px;
		top: 780px;
		left: 100px;
}

.honeysvg.v2{
		height: 200px;
		top: 800px;
		right: 100px;
}

.honeysvg.v3{
		height: 120px;
		top: 1100px;
		left: 350px;
}

.honeysvg.v4{
		height: 120px;
		top: 1000px;
		right: 350px;
		transform: rotate(15deg);
}
.axis-left line, 
.axis-left path {
    stroke: none;
}

.axis-left text {
    font-weight: bold;
    font-size: 7pt;
    text-transform: uppercase;
		letter-spacing: 1px;
}

.axis-bottom text {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}

svg .labels{
	font-family: 'Roboto', sans-serif;
}

.y-grid line{
				stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.y-grid path{
		stroke-width: 0;
}

.dot-label {
    font-size: 8pt;
}

.details{
		position: relative;
		margin: 0 auto;
		width: 950px;
		height: 100%;
		background: #fecf67;
		opacity: .8;
		z-index: 1;
}

.details p{
		z-index: 0;
}

#tooltip{
	position: absolute;			
	text-align: center;
	background: black;
	color:white;
	border-radius: 3px;
	padding: 10px 5px;
	pointer-events: none;		
}

.chart-bottom{
	position: relative;
	margin: 0 auto;
	display: flex;
	flex: row;
	width: 920px;
	padding: 20px;
	margin-bottom: 2em;
	font-family: 'Roboto', sans-serif;
}

select{
	width: 60px;
	height: 25px;
	border-radius: 3px;
	padding-left: 5px;
	margin-left: 20px;
	margin-top: 15px;
	overflow: scroll;
	font-family: 'Roboto', sans-serif;
}

select:focus {outline:0;}

.palettes{
	display: flex;
	flex-direction: row;
	margin-left: 11em;
	padding-top: 20px;
}

.palette{
	width: 50px;
	height: 15px;
	border-radius: 1px;
}

.palettes p{
	text-align: left;
	margin: 0;
	font-size: 10pt;
	padding-left: 10px;
	line-height: 15px;
}

.palette.low{
	background: #fecf67;
}

.palette.high{
	background: #914420;
	margin-left: 40px;
}
